  
<article class="container mt-2">
    <div class="jumbotron bg-primary text-white d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-4">Build Guild</h1>
        <p class="lead">Build a 5th-edition D&D character!</p>
    </div>
</article>